<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shotening Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Url Shortening Service</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url:</label>
            <input class="form-control col mr-2" required type="url" name="fullUrl" id="fullUrl" placeholder="Url">
            <button type="submit" class="btn btn-success">Shorten</button>
        </form>
        <table class="table table-bordered table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                        <td>
                            <a href="<%= shortUrl.full %>">
                                <%= shortUrl.full.substr(0,120) %>
                            </a>
                        </td>
                        <td>
                            <a href="<%= shortUrl.short %>">
                                <%= shortUrl.short %>
                            </a>
                        </td>
                        <td>
                            <%= shortUrl.clicks  %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>